@model IEnumerable<FitMind.Models.Exam>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.points)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.q1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.q2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.q3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.q4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.a1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.a2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.a3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.a4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.d1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.d2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.d3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.d4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.points)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.q1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.q2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.q3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.q4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.a1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.a2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.a3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.a4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.d1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.d2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.d3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.d4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.examId }) |
            @Html.ActionLink("Details", "Details", new { id=item.examId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.examId })
        </td>
    </tr>
}

</table>
