@model IEnumerable<FitMind.Models.Goodie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pointsNeeded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sponsor.sponsorId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pointsNeeded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sponsor.sponsorId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.goodieId }) |
            @Html.ActionLink("Details", "Details", new { id=item.goodieId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.goodieId })
        </td>
    </tr>
}

</table>
